.card-container {
    margin-top: 30px;
    margin-left: 50px;
    display: flex;
    flex-wrap: wrap;
}

.pokemon-card {
    width: 250px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
}

.pokemon-card img {
    width: 100%;
    height: auto;
}

.pokemon-card h3 {
    margin-top: 10px;
}